.tabla{
    width: 60%;
    margin: auto;
    
}

.contenedor-tabla{
    margin-bottom: 15px;
}

a{
    color: black;
}

a:hover {
    color: blue;
}

#precioMayor {
    font-weight: bold;
    color: red;
}

#precioMenor {
    font-weight: bold;
    color: green;
}