.tabla{
    width: 70%;
    margin: auto;
    
}

.contenedor-tabla{
    margin-bottom: 10px;
}

a{
    color: black;
}

a:hover {
    color: blue;
}

#precioMayor {
    font-weight: bold;
    color: red;
}

#precioMenor {
    font-weight: bold;
    color: green;
}

@media only screen and (max-width: 600px) {

    .tabla{
        width: 100%;
        margin: auto;
        
    }

    .contenedor-tabla{
        margin: 10px;
        font-size: 14px;
    }
  }